@model RecruitmentPortal.WebApp.ViewModels.JobPostViewModel

@{
    ViewData["Title"] = "AddNewJobPost";
}


<h1  class="bg-gradient-gray-dark text-white">Add New Job</h1>
<div class="d-flex justify-content-end">
    
        <a asp-action="Index" asp-controller="JobCategory" class="btn btn-primary">Back to List</a>

</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddNewJobPost">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" value="@Model.JobCategoryId" id="JobCategoryId" name="JobCategoryId" />
            <input type="hidden" value="@Model.ID" id="ID" name="ID" />

            <div class="form-group">
                <label asp-for="job_title" class="control-label">Job Title</label>
                <input asp-for="job_title" class="form-control" readonly />
                <span asp-validation-for="job_title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="location" class="control-label">Location</label>
                <input asp-for="location" class="form-control" required />
                <span asp-validation-for="location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="job_role" class="control-label">Job Role</label>
                <input asp-for="job_role" class="form-control" required />
                <span asp-validation-for="job_role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vacancy" class="control-label">Vacancy</label>
                <input asp-for="vacancy" class="form-control" required min="0" />
                <span asp-validation-for="vacancy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="job_type" class="control-label">Job Type</label>
                <input asp-for="job_type" class="form-control" required />
                <span asp-validation-for="job_type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="eligibility_criteria" class="control-label">Eligibility Criteria</label>
                <input asp-for="eligibility_criteria" class="form-control" required />
                <span asp-validation-for="eligibility_criteria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="experience" class="control-label">Experience</label>
                <input asp-for="experience" class="form-control" required />
                <span asp-validation-for="experience" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="skills" class="control-label">Skills</label>
                <input asp-for="skills" class="form-control" required />
                <span asp-validation-for="skills" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



