@model RecruitmentPortal.WebApp.ViewModels.ForgotPasswordModel

<style type="text/css">
    .required:after {
        content: "*";
        font-weight: bold;
        color: red;
    }
</style>
<div class="row">
    <div class="col-md-4">
        <form asp-action="ForgotThePassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label required"></label>
                <input asp-for="Email" class="form-control" required/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="d-flex">
                <div class="form-group">
                </div>
                <div>
                    @Html.ActionLink("Back To Sign In", "Login", "Account",null, new { @class = "btn btn-primary" })
                </div>
            </div>
            
        </form>
    </div>
</div>
