@model IEnumerable<RecruitmentPortal.Core.Entities.ApplicationUser>

@using RecruitmentPortal.WebApp.Resources

<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-default collapsed-box">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-users"></i> Users </h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        
                    </div>
                </div>
            </div>
            <!-- /.box -->

            <div class="box">
                <div class="box-header">
                    @*<h3 class="box-title">All Users</h3>*@
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="datatable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>User Name</th>
                                <th>Email</th>
                                <th>Position</th>
                                <th>Skype_ID</th>
                                <th><b>Actions</b></th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        
        bindDatatable();
    });

    function bindDatatable() {
        $('#datatable').DataTable({
            lengthChange: true,
            searching: true,
            ordering: false,
            lengthMenu: [[5, 10, 25, 50, -1], [5,10, 25, 50, "All"]],
            paging: true,
            pagingType: "simple_numbers",
            pageLength: 10,
            fixedColumns: true,
            responsive: true,
            "bDestroy": true,
            "ajax":{
                "url": "@Url.Action("GetAllUsers", "Account")",
                "type": "GET",
                //"data": {
                //    "startDate": sStartDate,
                //    "endDate": sEndDate,
                //    "applicationType": sApplicationType,
                //    "degree": sDegree
                //},
                "datatype": "json"
            },
            "columns": [
                { "data": "userName", "name": "userName"},
                { "data": "email", "name": "email" },
                { "data": "position", "name": "position" },
                { "data": "skype_id", "name": "skype_id" },
                {
                    "sClass": "text-center",
                    "mRender": function (data, type, row) {
                        var edit = '<a href="#" title="Edit" onclick="openRecord(\'' + row.id + '\')" class="btn btn-primary"><i class="fa fa-edit"></i></a>';
                        return edit;
                    }
                }
            ],
            "order": [[0, "asc"]]
        });
    }

    @*function search() {
        debugger;
        var sStartDate = getInputValueById('srcStartDate');
        var sEndDate = getInputValueById('srcEndDate');

        var dStartDate = new Date(sStartDate);
        var dEndDate = new Date(sEndDate);

        if (dEndDate < dStartDate) {
            notification("Error", '@Messages.EndDateGreaterThanStartDate', "error");
            return;
        }
        bindDatatable();
    }*@

    //function reset() {
    //    setInputValueById('srcApplicationType','');
    //    setInputValueById('srcDegree','');
    //    setInputValueById('srcStartDate','');
    //    setInputValueById('srcEndDate', '');
    //    bindDatatable();
    //}

    function openRecord(id) {
        window.location.href = '@Url.Action("UpdateUser", "Account")?id=' + id;
    }
</script>
