@{
    ViewData["Title"] = "Interviewer Index";
}
@{
    int rowcount = 0;
    string date_time_format = "dd-MM-yyyy HH:mm";
}
<style>
    .mybutton {
        font-size: 25px;
        border-radius: 3px;
        color: #509bac;
        margin-right: 5px;
    }

    .table > thead > tr > th {
        border-bottom: 2px solid #ecf0f5;
    }

    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        border-top: 1px solid #ecf0f5;
    }
</style>

<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <!-- /.box -->

            <div class="box">
                <div class="box-header">
                    @if (User.IsInRole("Admin"))
                    {
                        <h3 class="box-title"><i class="fa fa-clipboard"></i><b> All Schedules :</b></h3>

                    }
                    else
                    {
                        <h3 class="box-title"><i class="fa fa-clipboard"></i><b> Completed Schedules :</b></h3>

                    }
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="datatable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Candidate Name</th>
                                <th>Job Title</th>
                                <th>Job Role</th>
                                <th>Mode of Interview</th>
                                <th>Interview Round</th>
                                <th>Date and Time</th>
                                <th>Details</th>
                            </tr>
                        </thead>

                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        bindDatatable();
    });

    function bindDatatable() {

        $('#datatable').DataTable({
            lengthChange: true,
            searching: true,
            ordering: false,
            lengthMenu: [[5, 10, 25, 50, -1], [5,10, 25, 50, "All"]],
            paging: true,
            pagingType: "simple_numbers",
            pageLength: 10,
            fixedColumns: true,
            responsive: true,
            "bDestroy": true,
            "ajax": {
                "url": "@Url.Action("GetSchedules", "Interviewer")",
                "type": "GET",
                "data": {},
                "datatype": "json"
            },
            "columns": [
                { "data": "candidate_name", "name": "candidate_name" },
                { "data": "position", "name": "position" },
                { "data": "jobRole", "name": "jobRole" },
                { "data": "mode_of_interview", "name": "mode_of_interview" },
                { "data": "roundName", "name": "roundName" },
                { "data": "datetime", "name": "datetime" },

                {
                    "sClass": "text-center",
                    "mRender": function (data, type, row) {
                        var action = '';
                        action += '<a href="javascript:void(0);" title="Details" onclick="Details(\'' + row.encryptedId + '\')" class = "btn btn-primary btn-sm"><i class="fa fa-edit"></i></a>';
                        action += ' <a href="javascript:void(0);" title="Delete" onclick="Delete(\'' + row.encryptedId + '\')" class = "btn btn-primary btn-sm"><i class="fa fa-trash"></i></a>';
                        return action;
                    }
                },
            ],
            "order": [[0, "asc"]]
        });
    }

    function Details(id, toCompletedList = true) {
        window.location.href = '@Url.Action("ScheduleDetails", "Interviewer")?scheduleId=' + id + '&toCompletedList' + toCompletedList;
    }
    function Delete(id, remove = true) {
        window.location.href = '@Url.Action("UpdateScheduleOfJobApplication", "JobApplication")?scheduleId=' + id + '&remove=' + remove;
    }

</script>