@using RecruitmentPortal.WebApp.Resources
@using RecruitmentPortal.WebApp.Helpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>@Labels.RecruitmentPortal</title>
    <link rel="icon" type="image/png" href="~/favicon.png" />
    <partial name="AdminLTE/_Styles" />
    @*<environment include="Development">
            <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css'>
            <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css'>
            <link href="~/bundles/RecruitmentPortalCSSBundle.min.css" rel="stylesheet" />
        </environment>*@
    <script src="~/Content/js/jQuery-2.2.0.min.js"></script>
    <script src="~/Content/js/jquery.validate.min.js"></script>
    <script src="~/Content/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
</head>
<body class="sidebar-mini skin-yellow">
    <div class="wrapper">
        <partial name="AdminLTE/_TopNavigation" />
        <partial name="AdminLTE/_MainNavigation" />

        <div class="content-wrapper" style="min-height: 1126px;">
            @RenderBody()
        </div>
        <div class="toast__container">
            <div class="toast__cell">
            </div>
        </div>
        <partial name="AdminLTE/_Footer" />

        <div class="control-sidebar-bg" style="position: fixed;height: auto;"></div>
    </div>
    <partial name="AdminLTE/_Scripts" />
    @*<environment exclude="Development">
        <script src="~/bundles/RecruitmentPortalJSBundle.min.js"></script>
    </environment>*@
</body>
</html>
<script>
    $(document).ready(function () {
        var errormessage = '@TempData[EnumsHelper.NotifyType.Error.GetDescription()]';
        var successmessage = '@TempData[EnumsHelper.NotifyType.Success.GetDescription()]';

        if (errormessage !== "") {
            notification("Error", errormessage, "error");
        }

        if (successmessage !== "") {
            notification("Success", successmessage, "success");
        }
    });
</script>