@model RecruitmentPortal.WebApp.ViewModels.DegreeViewModel
@if (ViewData["msg"] != null)
{
    <script>window.onload = function () { alert("@ViewData["msg"] already exist !!") }</script>
}
<h1  class="bg-gradient-gray-dark text-white">Add Degree</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddNewDegree">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="degree_name" class="control-label"></label>
                <input asp-for="degree_name" class="form-control" type="text" pattern="^[a-zA-Z0-9_ ]*$" required/>
                <span asp-validation-for="degree_name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>

