@model RecruitmentPortal.WebApp.ViewModels.DegreeViewModel

<h1  class="bg-gradient-gray-dark text-white">Update Degree: </h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateDegreePost">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" value="@Model.ID" id="ID" name="ID" />
            <div class="form-group">
                <label asp-for="degree_name" class="control-label"></label>
                <input asp-for="degree_name" class="form-control" />
                <span asp-validation-for="degree_name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"  class="btn btn-primary">Back to List</a>
</div>

