<h1>Confirmation Email Sent !!</h1>
<p>
    The link has been sent to your Email Address, please check your inbox to reset your password.
</p>
@Html.ActionLink("Back To Home", "Index", "Home",null, new { @class = "btn btn-primary" })