@model RecruitmentPortal.WebApp.ViewModels.RegisterViewModel
@using RecruitmentPortal.WebApp.Resources

<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-default boxPad">
                <div class="box-header">
                    @if (Model.Id > 0)
                    {
                        <h3 class="box-title">
                            <i class="fa fa-info-circle"></i>
                            Edit User
                        </h3>
                    }
                    else
                    {
                        <h3 class="box-title">
                            <i class="fa fa-info-circle"></i>
                            Add User
                        </h3>
                    }

                    <div class="box-tools pull-right">
                        <input type="submit" value="Save" class="btn btn-primary" name="submit" onclick="checkValidOrNot()" />
                        <input type="submit" value="Save &amp; Continue" name="submit" class="btn btn-primary" onclick="checkValidOrNot()" />
                        <a href="@Url.Action("Index", "Account")" class="btn btn-primary">Cancel</a>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="box-body">
                    <form asp-action="Register" enctype="multipart/form-data" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group position-relative">
                            <i class="fas fa-user text-gray position-absolute" style=" margin-left:87%; margin-top:4%"></i>
                            <input asp-for="UserName" class="form-control" placeholder="UserName" required />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div class="form-group position-relative">
                            <i class="fas fa-envelope text-gray position-absolute" style=" margin-left:87%; margin-top:4%"></i>
                            <input asp-for="Email" class="form-control" placeholder="Email" required />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group position-relative">
                            <i class="fas fa-briefcase text-gray position-absolute" style=" margin-left:87%; margin-top:4%"></i>
                            <input asp-for="position" class="form-control" placeholder="Position" required />
                            <span asp-validation-for="position" class="text-danger"></span>
                        </div>
                        <div class="form-group position-relative">
                            <i class="fa fa-id-card text-gray position-absolute" style="margin-left: 87%; margin-top: 4%"></i>
                            <input asp-for="skype_id" class="form-control" placeholder="Skype ID" required />
                            <span asp-validation-for="skype_id" class="text-danger"></span>
                        </div>
                        <div class="form-group position-relative">
                            <i class="fas fa-lock text-gray position-absolute" style="margin-left: 87%; margin-top: 4%"></i>
                            <input asp-for="Password" class="form-control" placeholder="Password" required />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group position-relative">
                            <i class="fas fa-lock text-gray position-absolute" style="margin-left: 87%; margin-top: 4%"></i>
                            <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" required />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="FileNew" class="control-label">Upload File:</label><br />
                            <input asp-for="FileNew" id="file" type="file" />
                            <span asp-validation-for="FileNew" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Register" class="btn text-white" style="background-color:#ff5722; width:300px" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    function checkValidOrNot() {
        //var projectId = $('#ProjectId').val();
        //var projectUnitId = $('#ProjectUnitId').val();
        //var SelectedFlatNo = $('#SelectedFlatNo').val();

        //if ((projectId != null && projectId != "") && (projectUnitId != null && projectUnitId != "")) {
        //    if (SelectedFlatNo == null || SelectedFlatNo == '') {
        //        notification("Error", 'Please Select Flat For Booking', "error");
        //        return false;
        //    }
        //}
        //return true;
    }
</script>
