@model RecruitmentPortal.WebApp.ViewModels.RejectReasonViewModel


@using (Html.BeginForm("RejectApplicant", "Candidate", FormMethod.Post, new { id = "rejectform" }))
{
    <div class="form-group">
           @Html.LabelFor(m => m.rejection_reason)
        @Html.TextBoxFor(m => m.rejection_reason, new { @placeholder = "Reason for Rejection", @class = "form-control" })
        @Html.ValidationMessageFor(m => m.rejection_reason, "", new { @class = "text-danger" })
    </div>

    <div class="modal-footer modal-footer2">
        <button type="submit" class="btn btn-primary" onclick="return checkFormValid()">Save</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
}





<script>
    $(document).ready(function () {
        $.validator.unobtrusive.parse($('#rejectform'));
    });

    function checkFormValid() {
        var $form = $('form');
        if ($form.valid()) {
            return true;
        }
        return false;
    }
</script>